html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #ffffff;
  height: 100%;
  overflow-x: hidden;
}

.mainHeader {
  background-color: #ffdcd3;
  color: #444950;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 32px;
}

.mainHeader > p {
  width: 318px;
  height: 16px;

  font-family: "Abhaya Libre";
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 550px) {
  .mainHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

.preProducts {
  display: grid;
  column-gap: 50px;

  width: 80%;
}

.preProducts > .text {
  font-size: 44px;
  font-family: "Abhaya Libre";

  display: inline-flex;
  justify-content: center;

  width: 60%;
}

.preProducts > .buttons {
  display: flex;
  justify-content: right;
}

.preProducts .bgButtonPrev,
.preProducts .bgButtonNext {
  width: 70px;
  height: 22px;
  background-color: #ffdcd3;
  border-radius: 100px;
}

.preProducts > .buttons button {
  width: 39.5px;
  height: 39.5px;
  background-color: #ffffff;

  color: black;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  justify-content: center;

  position: relative;
  top: -28%;
  left: 24%;
}

@media (max-width: 550px) {

  .preProducts{
    padding-left: 8%;
  }

  .preProducts > .text {
    width: auto;
    display: block;
    font-family: "Abhaya Libre";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
  }

  .preProducts > .buttons {
    display: flex;
    justify-content: left;

    margin-top: 5%;
  }
}

.containerProducts {
  margin-top: 5%;
  display: flex;

  width: 100%;
  max-width: 800px;
  height: 350px;
  position: relative;
  /* overflow: hidden; */
}

.containerProducts > .product {
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.containerProducts > .product img {
  margin-left: 20px;
  object-fit: cover;
}

.product button {
  display: block;
  position: relative;

  justify-content: center;
  align-items: center;

  top: -15%;
  left: 10%;

  width: 297px;
  height: 30px;

  border-radius: 100px;
  border: none;

  background-color: white;
  color: #efa693;
  font-weight: 700;

  margin-top: 5px;
}

.infoProduct {
  margin-left: 25px;
  display: inline-block;
  position: relative;
  top: -4%;
}

.infoProduct > .nameProduct {
  width: 234px;
  height: 24px;

  font-family: "Filson Pro";
  font-weight: 500;
  font-size: 18px;
  color: black;
}

@media (max-width: 550px) {
  .containerProducts {
    margin-top: 15%;
  }

  .slide img {
    width: 247px;
    height: 247px;
  }

  .product button {
    width: 225px;
    left: 12%;
  }

  .infoProduct {
    display: inline-block;
  }

  .infoProduct > .nameProduct {
    font-family: "Filson Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }

  .rateValue {
    display: inline-table;
  }

  .rateValue .price {
    justify-content: left;
    text-align: left;
  }
}

.rateValue {
  display: flex;
}

.rateValue > .rate {
  display: flex;
}

.rateValue > .price {
  margin-left: 15%;
}

.rateValue > .rate {
  display: flex;
}

.val-fieldset {
  width: 100px;
  border: none;
  font-weight: bold;
  font-size: 12px;
}

.valoracion {
  width: 100px;
  height: 21px;
  display: block;
  margin-top: 17px;
  background: url(http://lh5.googleusercontent.com/-Sp-iHFztZdc/UVD89O9oM1I/AAAAAAAAEU0/Xh-FBDaWyJY/s000/estrellas.png)
    0 0 no-repeat;
}

.val-0 {
  background-position: -100px -0;
}

.val-10 {
  background-position: -81px 0;
}

.val-20 {
  background-position: -60px 0;
}

.val-30 {
  background-position: -41px 0;
}

.val-40 {
  background-position: -21px 0;
}

.val-50 {
  background-position: 0 0;
}

.rateValue > .tag {
  margin-top: 22px;
}

.rateValue > .price {
  margin-top: 22px;
}

.aferProducts {
  margin-top: 25%;
}

/*margen al botón responsive*/

@media (max-width: 550px) {
  .aferProducts {
    margin-top: 60%;
  }
}

.allProducts {
  display: flex;
  justify-content: center;
}

.allProducts button {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  font-family: "Neogrotesk Ess";

  background-color: #efa693;
  border-radius: 100px;
  border: none;

  width: 237px;
  height: 48px;
}

.mainFooter {
  margin-top: 10%;

  width: auto;
  height: 550px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 45.49%;

  background-color: rgba(209, 241, 255, 0.5);
}

div.info {
  display: inline;
  position: relative;

  top: 20%;
}

.join p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Abhaya Libre";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;

  color: #444950;
}

.afterJoin p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Filson Pro";
  font-style: normal;
  font-weight: 350;
  font-size: 15px;

  color: #939393;
}

@media (max-width: 550px) {
  .afterJoin p {
    font-family: "Filson Pro";
    font-style: normal;
    font-weight: 350;
    font-size: 12px;
  }

  .join p {
    font-family: "Abhaya Libre";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
  }
}

.form {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.form input {
  width: 360px;
  height: 48px;

  border-radius: 100px;
  border: none;

  color: #939393;
}

.form input::-webkit-input-placeholder {
  padding-left: 25px;
}

.form button {
  width: 119px;
  height: 48px;

  border-radius: 100px;
  border: none;

  color: #939393;
  background-color: #efa693;

  font-family: "Neogrotesk Ess";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

/*centrar el botón del formulario en celular*/

@media (max-width: 550px) {
  .form {
    display: flex;
    justify-content: center;
    text-align: center;

    width: auto;
    height: auto;
  }

  .form input {
  }

  .form button {
  }
}
