html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #ffffff;
  height: 100%;
  overflow-x: hidden;
}

.mainHeader {
  background-color: #ffdcd3;
  color: #444950;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 32px;
}

.mainHeader > p {
  width: 318px;
  height: 16px;

  font-family: "Abhaya Libre";
  font-size: 16px;
  font-weight: 700;
}

section.preProducts {
  display: grid;
  column-gap: 50px;

  width: 80%;
}

section.preProducts > p.text {
  font-size: 44px;
  font-family: "Abhaya Libre";

  display: flex;
  justify-content: center;

  width: 60%;
}

section.preProducts > div.buttons {
  display: flex;
  justify-content: right;
}

section.preProducts div.bgButtonPrev,
section.preProducts div.bgButtonNext {
  width: 70px;
  height: 22px;
  background-color: #ffdcd3;
  border-radius: 100px;
}

section.preProducts > div.buttons button {
  width: 39.5px;
  height: 39.5px;
  background-color: #ffffff;

  color: black;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  justify-content: center;

  position: relative;
  top: -28%;
  left: 24%;
}

.containerProducts {
  margin-top: 5%;
  display: flex;

  width: 100%;
  max-width: 800px;
  height: 350px;
  position: relative;
  /* overflow: hidden; */
}

.containerProducts > .product {
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.containerProducts > .product img {
  margin-left: 20px;
  object-fit: cover;
}

.product button {
  display: block;
  position: relative;

  justify-content: center;
  align-items: center;

  top: -15%;
  left: 10%;

  width: 297px;
  height: 30px;

  border-radius: 100px;
  border: none;

  background-color: white;
  color: #efa693;
  font-weight: 700;

  margin-top: 5px;
}

.infoProduct {
  margin-left: 25px;
  display: inline-block;
  position: relative;
  top: -4%;
}

.infoProduct > .nameProduct {
  width: 234px;
  height: 24px;

  font-family: "Filson Pro";
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.rateValue {
  display: flex;
}

.rateValue > .rate {
  display: flex;
  text-align: center;
  justify-content: center;
}

.rateValue > .price {
  margin-left: 30%;
}

.rateValue > .rate {
  display: flex;
}

.val-fieldset {
  width: 100px;
  border: none;
  font-weight: bold;
  font-size: 12px;
}

.valoracion {
  width: 100px;
  height: 21px;
  display: block;
  margin-top: 17px;
  background: url(http://lh5.googleusercontent.com/-Sp-iHFztZdc/UVD89O9oM1I/AAAAAAAAEU0/Xh-FBDaWyJY/s000/estrellas.png)
    0 0 no-repeat;
}

.val-0 {
  background-position: -100px -0;
}

.val-10 {
  background-position: -81px 0;
}

.val-20 {
  background-position: -60px 0;
}

.val-30 {
  background-position: -41px 0;
}

.val-40 {
  background-position: -21px 0;
}

.val-50 {
  background-position: 0 0;
}

.rateValue > .tag {
  margin-top: 22px;
}

.rateValue > .price {
  margin-top: 22px;
}

.aferProducts {
  margin-top: 15%;
}

.allProducts {
  display: flex;
  justify-content: center;
  margin-top: -28%;
}

.allProducts button {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  font-family: "Neogrotesk Ess";

  background-color: #efa693;
  border-radius: 100px;
  border: none;

  width: 237px;
  height: 48px;
}

.mainFooter {
  margin-top: 10%;

  width: auto;
  height: 550px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 45.49%;

  background-color: rgba(209, 241, 255, 0.5);
}

div.info {
  display: inline;
  position: relative;

  top: 20%;
}

.info p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Abhaya Libre";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;

  color: #444950;
}

.afterJoin p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Filson Pro";
  font-style: normal;
  font-weight: 350;
  font-size: 15px;

  color: #939393;
}

.form {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.form input {
  width: 360px;
  height: 48px;

  border-radius: 100px;
  border: none;

  color: #939393;
}

.form button {
  width: 119px;
  height: 48px;

  border-radius: 100px;
  border: none;

  color: #939393;
  background-color: #efa693;

  font-family: "Neogrotesk Ess";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.pastilla1 {
  position: relative;

  top: 65%;
  left: 5%;

  width: 100px;
  height: 100px;

  background-image: url("./images/pastillaverde\ 1.png");
  background-repeat: no-repeat;
  transform: rotate(-27.13deg);
}

.pastilla2 {
  position: relative;

  top: 75%;
  left: 2%;

  width: 200px;
  height: 200px;

  background-image: url("./images/pastilla2\ 1.png");
  background-repeat: no-repeat;
  transform: rotate(-27.13deg);
}

.pastilla3 {
  position: relative;

  top: 60%;
  left: 80%;

  width: 100px;
  height: 100px;

  background-image: url("./images/pastilla3\ 1.png");
  background-repeat: no-repeat;
  transform: rotate(-27.13deg);
}

.pastilla4 {
  position: relative;

  top: 30%;
  left: 20%;

  width: 100px;
  height: 100px;

  background-image: url("./images/pastlla4\ 1.png");
  background-repeat: no-repeat;
  transform: rotate(-27.13deg);
}

.pastilla5 {
  position: relative;

  top: 18%;
  left: 85%;

  width: 100px;
  height: 100px;

  background-image: url("./images/pastilla5\ 1.png");
  background-repeat: no-repeat;
  transform: rotate(-27.13deg);
}
